.app-wrapper {
  min-height: 100vh;
  background: inherit;
}

.spice-entrance {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}

.icon-box {
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box svg {
  color: black;
  font-size: 40px;
}